@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
  }


body {
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
}

/* header--------------------------------------------------------------------------------------------------------------------------- */

.header {
    /* padding: 10px 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: end; */
    display: grid;
    align-items: end;
    justify-items: end;
    grid-template-areas:
    "imgG imgG imgG"
    "imgG logo logo"
    "imgG logo logo"
    "h1 h1 h1";
       
}

.imgCabecera {
    /* background-image: url(../imagenes/diseÃ±o-de-interiores.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    z-index: -1000;
    width: 100vw;
    height: 98vh;
    /* position: absolute; */
    grid-area: imgG;
    
    /* height: 100%;  */

} 



.logoCabecera {
    grid-area: logo;
    margin: 0 40px 20px 0;
    width: 40%;
    transition: 0.4s;
    /* grid-area: span 2; */
}

/* .logoCabecera:hover {
    width: 53%;
    filter: opacity(0.7);
} */

.h1 {
    font-weight: 400;
    font-size: 28px;
    /* margin: 0 0 20px 0; */
    color: #080808;
    grid-area: h1;
    position: absolute;
    top: 90%;
    left: 50px;
    
}


/* header end--------------------------------------------------------------------------------------------------------------------------- */

section {
    width: 100%;
    height: 100vh;
}

section.sec1 {
    background: url(plunkydesins/imagenes/fondo-acerca-de-nosotros.png);
    background-size: cover;
}

section.sec2 {
    padding: 100px;
    box-sizing: border-box;
    height: auto;
}

section.sec2 h2 {
    font-size: 3em;
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
}

section.sec2 p {
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    color: #fff;
}

section.sec3 {
    background: url(plunkydesins/imagenes/diseÃ±o-de-interiores.jpg);
    background-size: cover;
}

/* nav--------------------------------------------------------------------------------------------------------------------------- */

.nav {
    background: #080808dd;
    height: 64px;
    color: #d4d8d7;
    position: sticky;
    background-color: #080808dd;
    top: 0;
}

.nav__container {
    display: flex;
    height: 100px;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    font-size: 1.5em;
    font-weight: 500;
    color: #d4d8d7;
}

.nav__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 2.5em;
    
}

.nav__item {
    color: #d4d8d7;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    
}

.nav__item::after {
    content: "";
    display: block;
    background: #d4d8d7;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.nav__item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);;
}

.nav__input:checked + .nav__menu {
    background: #080808dd;
}

.nav__label, .nav__input {
    display: none;
}

/* nav end--------------------------------------------------------------------------------------------------------------------------- */

@media  screen and (max-width: 952px) {

    .nav__menu {
        display: grid;
        grid-auto-flow: column;
        gap: 1.5em;
    }

}

@media (max-width: 732px) {

    
    .nav__label {
        display: block;
        cursor: pointer;
        z-index: 2;
    }
    
    
    .nav__menu {
        
        position: fixed;
        top: 0;
        bottom: 0;
        background: #090909dd;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }

    

    .nav__input:checked + .nav__menu {

        clip-path: circle(100% at center);
    }
}
